{% extends 'base.html' %}

{% block content %}
<div class="row mb-2">
    {% if markets %}
    {% for m in markets %}
    <div class="col-md-6">
        <div
            class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative markets-card">
            <div class="col p-4 d-flex flex-column position-static">
                <h3 class="d-inline-block mb-2 text-primary">{{ m.market_name }}</h3>
                <h4 class="mb-0">View and update {{ m.market_name }} prices</h4>

                <p class="card-text mb-auto">District: {{ m.district }}</p>
                <p class="card-text mb-auto">Area: {{ m.area }}</p>
                <a href="{% url 'markets:categories' m.id %}" class="stretched-link arrow">→</a>
            </div>
            <div class="col-auto d-none d-lg-block">

            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No Markets available in this app!</p>
    {% endif %}
</div>

{% endblock %}